@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+Tai+Le&family=Red+Hat+Display:wght@400;500;700;800;900&family=Rubik+Bubbles&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  /* font-family: "Silkscreen"; */
  background-color: #000000;
  font-family: "Red Hat Display", sans-serif;
  color: rgba(245, 245, 245, 0.651);
}
img {
  max-width: 100%;
}

/* normalizing rules above */

/* style scroll bar */

/* width */
::-webkit-scrollbar {
  background-color: hsl(0, 0%, 9%);
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 0%);
  box-shadow: 0 0 3px hsl(235, 21%, 11%);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #002c28;
  border-radius: 10px;
}

/* font styling */

h1 {
  display: flex;
  height: fit-content;
  background-color: #002c2800;
  margin: 0px;
  font-size: 28px;
  font-family: "Archivo Black", sans-serif;
  color: white;
  font-weight: 100;
}

h2 {
  display: flex;
  height: fit-content;
  background-color: #002c2800;
  margin: 0px;
  font-size: 20px;
  font-family: "Archivo Black", sans-serif;
  color: white;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0px;
  font-size: 20px;
  font-weight: 900;
}

h4 {
  display: flex;
  height: fit-content;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}

p {
  display: flex;
  font-size: 17px;
}

.material-symbols-rounded h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ddfffd;
}

.nav-button.material-symbols-rounded h3 {
  font-size: 1.7rem !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

/* nav-bar */

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(to bottom, #002c28, #002c2800);
  width: 100%;
  height: fit-content;
  z-index: 500;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: #002c28;

  border-radius: 16px;
  margin: 4px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.88;
}

.nav-bar_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 77px;
  width: fit-content;
}

.nav-bar_logo:active {
  transform: scale(0.97);
  transition: all 1ms cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.3;
}

.app-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.app-logo {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: rgba(215, 230, 250, 0);
  margin: 16px;
  background-image: url(../img/logo_2.png);
  background-size: cover;
}

.nav-bar_menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: fit-content;
  background-color: rgba(255, 192, 203, 0);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 45px;
  padding: 8px 16px 8px 16px;
  margin: 16px;
  border: solid 1px #00fff25b;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.nav-button:active {
  opacity: 0.4;
}

/* viewer */

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #0f665f1c;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;

  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
}

.left-info {
  display: flex;
  flex-direction: column;
}

.viewer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 96px 16px 16px 16px;
  background-color: rgba(255, 210, 127, 0);
}

.viewer_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 16px;
  background-color: #002c2880;
  border-radius: 8px;
}

.info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 45px;
  padding: 8px 8px 8px 8px;
  margin: 0px;
  border: solid 1px #00fff215;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.288);
  cursor: pointer;
}

.info-button:active {
  opacity: 0.4;
}

.viewer_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.viewer_info_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-bottom: 8px;
}

.viewer_info_details {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.CamcaptureData {
  aspect-ratio: 1 / 1;
  display: flex;
  width: 100%;

  max-height: 500px;
  max-width: 500px;

  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 8px;
  overflow: hidden;
}

/* Gallery */

.Gallery-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow-x: auto;
  overflow-y: scroll;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  width: 100%;
  height: fit-content;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0px;
  background-color: rgba(0, 0, 0, 0.473);
}

.art-work-01 {
  grid-area: 1 / 1 / 3 / 3;
}
.art-work-02 {
  grid-area: 1 / 3 / 2 / 4;
}
.art-work-03 {
  grid-area: 1 / 4 / 2 / 5;
}
.art-work-04 {
  grid-area: 3 / 1 / 4 / 2;
}
.art-work-05 {
  grid-area: 3 / 2 / 4 / 3;
}
.art-work-06 {
  grid-area: 2 / 3 / 4 / 5;
}

.shell_span1 {
  aspect-ratio: 1/1 !important ;
}

.shell_span2 {
  aspect-ratio: 1/1 !important ;
}

.shell:active {
  opacity: 0.4;
}

.shell {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 2px #00fff215;

  border-radius: 16px;
  overflow: hidden;
}

/* rotate */

.rotate {
  transform: rotate(-180deg);
  transition: all 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}
